# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
venv/

# keys/certs
authenticator/*.pem

# state-assisted linking secrets
client/linked_authenticators.json
